<h1 class="logo"><a href="/">Guestbook App</a></h1>
<ul class="topNav">
    <li><a href="/">HOME</a></li>
    <li><a href="/newmessage">ADD MESSAGE</a></li>
    <li><a href="/ajaxmessage">AJAX MESSAGE</a></li>
    <li><a href="/guestbook" class="topNavLast">VIEW GUESTBOOK</a></li>
</ul><br class="clear" />