<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/head.ejs'); %>
</head>

<body>
    <div id="wrapper">
        <div id="branding">
            <%- include ('../partials/header.ejs'); %>
        </div>
        <div class="container">
            <form method="POST" action="/ajaxmessage">
                <h1>Leave a message in the guestbook:</h1>
                <h4>The Submit-button will retrieve the data from the text fields and run a JS function to send the data
                    as an AJAX call. Then as a response, we will see all the messages below the form.</h4>
                <br>
                <label>Name</label><br>
                <input type="text" id="Name" required><br>

                <label>Country</label><br>
                <input type="text" id="Country" required><br>

                <label>Message</label><br>
                <textarea id="Message" placeholder="Write something.." style="height:200px" required></textarea><br><br>

                <button type="button" onclick="ajaxPyyntö()">Submit</button>
            </form>
        </div>
        <div id="status"></div>
    </div>
    <div id="footerContainer">
        <%- include ('../partials/footer.ejs'); %>
    </div>
    <script>
        function ajaxPyyntö() {

            // Get info from the text fields
            var name = document.getElementById("Name");
            var country = document.getElementById("Country");
            var message = document.getElementById("Message");

            // Luodaan AJAX olio joka palauttaa vastauksensa status-kenttään     
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("status").innerHTML = this.responseText;
                }
            };

            // Lähetetään AJAX pyyntö, tyyppiä POST osoitteeseen /ajaxmessage
            xmlhttp.open("POST", "/ajaxmessage", true);
            xmlhttp.setRequestHeader("Content-type", "application/json");
            // Kootaan kenttien tiedot data-muuttujaan
            var data = {
                Name: name.value,
                Country: country.value,
                Message: message.value,
                Date: new Date()
            };
            // Lähetetään data-muuttuja merkkijonona palvelimelle
            xmlhttp.send(JSON.stringify(data));
            name.value = " ";
            country.value = " ";
            message.value = " ";
        };
    </script>
</body>

</html>