<!DOCTYPE html>
<html>

<head>
	<%- include ('../partials/head.ejs'); %>
</head>

<body>
	<div id="wrapper">
		<div id="branding">
			<%- include ('../partials/header.ejs'); %>
		</div>
		<div class="midBox2">
			<div class="midBox2L">
				<h2>What is the Guestbook App about?</h2>
				<h3>Guestbook App is a node.js application that allows users to leave messages to a public guestbook.
				</h3>
				<p>All messages will be saved to a JSON file and then will be parsed nicely into a table at /guestbook.
					Feel free to leave a message!</p>
			</div>
			<img src="images/c3_i7.png" width="460" height="237" alt="" />
		</div>
	</div>
	<div id="footerContainer">
		<%- include ('../partials/footer.ejs'); %>
	</div>
</body>

</html>